:root {
  --bg-color: #EAC7C0;
  --div-color: #FFE7E7;
  --header-color: #703A57;
  --text-color: #6C6E72;
  --yellow: #F4C489;
  --blue: #6E82bf;
  --green: #bbba99;
  --orange: #f2ae80;
  --light-pink: #eac7c0;
  --dark-pink: #dd9293;
}

.Dictionary {
    margin: 30px 0px 0px 0px;
    color: var(--text-color);
    font-family: 'Poppins', 'Montserrat', Helvetica, sans-serif;
}

.Dictionary div.body-bg {
  background: var(--div-color);
  padding: 50px 60px;
  margin: 0px -10px;
  border: none;
  border-radius: 25px;
  box-shadow: 5px 5px 2px rgba(218, 118, 160, 0.1);
}

.Dictionary input {
    border: none;
    border-radius: 25px;
    padding: 6px 15px;
    width: 80%;
}

.Dictionary section {
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 2px rgba(218, 118, 160, 0.1);
  margin: 20px 0;
}

h1, h2, h3, h4 {
  font-family: 'Poppins', 'Montserrat', Helvetica, sans-serif;
  color: var(--header-color);
  margin-bottom: 15px;
}

.App-footer {
  font-family: 'Poppins', 'Montserrat', Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: .4px;
  color: var(--text-color);
  margin: 30px 10px -30px 10px;
}