:root {
  --bg-color: #EAC7C0;
  --div-color: #FFE7E7;
  --header-color: #703A57;
  --text-color: #6C6E72;
  --yellow: #F4C489;
  --blue: #6E82bf;
  --green: #bbba99;
  --orange: #f2ae80;
  --light-pink: #eac7c0;
  --dark-pink: #dd9293;
}

.Phonetic {
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: 'Poppins', 'Montserrat', Helvetica, sans-serif;
    color: var(--text-color);
}

.Phonetic .btn-primary {
  border: none;
  border-radius: 50px;
  padding: 5px 15px;
  margin-bottom: 5px;
  background: var(--dark-pink);
}

.Phonetic .pronounce {
    font-size: 21px;
    padding: 0px;
    margin: 0 auto;
    margin-left: 25px;
}